--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8
-- Dumped by pg_dump version 15.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: buckets; Type: TABLE; Schema: storage; Owner: -
--

CREATE TABLE storage.buckets (
    id text NOT NULL,
    name text NOT NULL,
    owner uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    public boolean DEFAULT false,
    avif_autodetection boolean DEFAULT false,
    file_size_limit bigint,
    allowed_mime_types text[],
    owner_id text,
    type storage.buckettype DEFAULT 'STANDARD'::storage.buckettype NOT NULL
);


--
-- Name: TABLE buckets; Type: COMMENT; Schema: storage; Owner: -
--

COMMENT ON TABLE storage.buckets IS 'Updated documents bucket to allow all MIME types for incident attachments';


--
-- Name: COLUMN buckets.owner; Type: COMMENT; Schema: storage; Owner: -
--

COMMENT ON COLUMN storage.buckets.owner IS 'Field is deprecated, use owner_id instead';


--
-- Name: objects; Type: TABLE; Schema: storage; Owner: -
--

CREATE TABLE storage.objects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    bucket_id text,
    name text,
    owner uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    last_accessed_at timestamp with time zone DEFAULT now(),
    metadata jsonb,
    path_tokens text[] GENERATED ALWAYS AS (string_to_array(name, '/'::text)) STORED,
    version text,
    owner_id text,
    user_metadata jsonb,
    level integer
);


--
-- Name: COLUMN objects.owner; Type: COMMENT; Schema: storage; Owner: -
--

COMMENT ON COLUMN storage.objects.owner IS 'Field is deprecated, use owner_id instead';


--
-- Name: buckets buckets_pkey; Type: CONSTRAINT; Schema: storage; Owner: -
--

ALTER TABLE ONLY storage.buckets
    ADD CONSTRAINT buckets_pkey PRIMARY KEY (id);


--
-- Name: objects objects_pkey; Type: CONSTRAINT; Schema: storage; Owner: -
--

ALTER TABLE ONLY storage.objects
    ADD CONSTRAINT objects_pkey PRIMARY KEY (id);


--
-- Name: bname; Type: INDEX; Schema: storage; Owner: -
--

CREATE UNIQUE INDEX bname ON storage.buckets USING btree (name);


--
-- Name: bucketid_objname; Type: INDEX; Schema: storage; Owner: -
--

CREATE UNIQUE INDEX bucketid_objname ON storage.objects USING btree (bucket_id, name);


--
-- Name: idx_name_bucket_level_unique; Type: INDEX; Schema: storage; Owner: -
--

CREATE UNIQUE INDEX idx_name_bucket_level_unique ON storage.objects USING btree (name COLLATE "C", bucket_id, level);


--
-- Name: idx_objects_bucket_id_name; Type: INDEX; Schema: storage; Owner: -
--

CREATE INDEX idx_objects_bucket_id_name ON storage.objects USING btree (bucket_id, name COLLATE "C");


--
-- Name: idx_objects_lower_name; Type: INDEX; Schema: storage; Owner: -
--

CREATE INDEX idx_objects_lower_name ON storage.objects USING btree ((path_tokens[level]), lower(name) text_pattern_ops, bucket_id, level);


--
-- Name: name_prefix_search; Type: INDEX; Schema: storage; Owner: -
--

CREATE INDEX name_prefix_search ON storage.objects USING btree (name text_pattern_ops);


--
-- Name: objects_bucket_id_level_idx; Type: INDEX; Schema: storage; Owner: -
--

CREATE UNIQUE INDEX objects_bucket_id_level_idx ON storage.objects USING btree (bucket_id, level, name COLLATE "C");


--
-- Name: buckets enforce_bucket_name_length_trigger; Type: TRIGGER; Schema: storage; Owner: -
--

CREATE TRIGGER enforce_bucket_name_length_trigger BEFORE INSERT OR UPDATE OF name ON storage.buckets FOR EACH ROW EXECUTE FUNCTION storage.enforce_bucket_name_length();


--
-- Name: objects objects_delete_delete_prefix; Type: TRIGGER; Schema: storage; Owner: -
--

CREATE TRIGGER objects_delete_delete_prefix AFTER DELETE ON storage.objects FOR EACH ROW EXECUTE FUNCTION storage.delete_prefix_hierarchy_trigger();


--
-- Name: objects objects_insert_create_prefix; Type: TRIGGER; Schema: storage; Owner: -
--

CREATE TRIGGER objects_insert_create_prefix BEFORE INSERT ON storage.objects FOR EACH ROW EXECUTE FUNCTION storage.objects_insert_prefix_trigger();


--
-- Name: objects objects_update_create_prefix; Type: TRIGGER; Schema: storage; Owner: -
--

CREATE TRIGGER objects_update_create_prefix BEFORE UPDATE ON storage.objects FOR EACH ROW WHEN (((new.name <> old.name) OR (new.bucket_id <> old.bucket_id))) EXECUTE FUNCTION storage.objects_update_prefix_trigger();


--
-- Name: objects update_objects_updated_at; Type: TRIGGER; Schema: storage; Owner: -
--

CREATE TRIGGER update_objects_updated_at BEFORE UPDATE ON storage.objects FOR EACH ROW EXECUTE FUNCTION storage.update_updated_at_column();


--
-- Name: objects objects_bucketId_fkey; Type: FK CONSTRAINT; Schema: storage; Owner: -
--

ALTER TABLE ONLY storage.objects
    ADD CONSTRAINT "objects_bucketId_fkey" FOREIGN KEY (bucket_id) REFERENCES storage.buckets(id);


--
-- Name: objects Allow anon delete from custom-fonts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow anon delete from custom-fonts" ON storage.objects FOR DELETE USING ((bucket_id = 'custom-fonts'::text));


--
-- Name: objects Allow anon insert offer-pdfs; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow anon insert offer-pdfs" ON storage.objects FOR INSERT WITH CHECK (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects Allow anon upload to custom-fonts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow anon upload to custom-fonts" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'custom-fonts'::text));


--
-- Name: objects Allow authenticated delete from custom-fonts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated delete from custom-fonts" ON storage.objects FOR DELETE USING ((bucket_id = 'custom-fonts'::text));


--
-- Name: objects Allow authenticated upload to custom-fonts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated upload to custom-fonts" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'custom-fonts'::text));


--
-- Name: objects Allow authenticated users to delete from pos-before; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated users to delete from pos-before" ON storage.objects FOR DELETE TO authenticated USING ((bucket_id = 'pos-before'::text));


--
-- Name: objects Allow authenticated users to read files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated users to read files" ON storage.objects FOR SELECT USING (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects Allow authenticated users to read pos-before; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated users to read pos-before" ON storage.objects FOR SELECT TO authenticated USING ((bucket_id = 'pos-before'::text));


--
-- Name: objects Allow authenticated users to update files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated users to update files" ON storage.objects FOR UPDATE USING (((bucket_id = 'offer-pdfs'::text) AND true)) WITH CHECK (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects Allow authenticated users to upload files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated users to upload files" ON storage.objects FOR INSERT WITH CHECK (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects Allow authenticated users to upload to pos-before; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow authenticated users to upload to pos-before" ON storage.objects FOR INSERT TO authenticated WITH CHECK ((bucket_id = 'pos-before'::text));


--
-- Name: objects Allow delete for asset invoices; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow delete for asset invoices" ON storage.objects FOR DELETE USING ((bucket_id = 'asset-invoices'::text));


--
-- Name: objects Allow delete for stock documents; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow delete for stock documents" ON storage.objects FOR DELETE USING ((bucket_id = 'stock-documents'::text));


--
-- Name: objects Allow delete on product-request-photos; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow delete on product-request-photos" ON storage.objects FOR DELETE USING ((bucket_id = 'product-request-photos'::text));


--
-- Name: objects Allow public read access on product-request-photos; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow public read access on product-request-photos" ON storage.objects FOR SELECT USING ((bucket_id = 'product-request-photos'::text));


--
-- Name: objects Allow public read access to custom-fonts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow public read access to custom-fonts" ON storage.objects FOR SELECT USING ((bucket_id = 'custom-fonts'::text));


--
-- Name: objects Allow update for asset invoices; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow update for asset invoices" ON storage.objects FOR UPDATE USING ((bucket_id = 'asset-invoices'::text));


--
-- Name: objects Allow update for stock documents; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow update for stock documents" ON storage.objects FOR UPDATE USING ((bucket_id = 'stock-documents'::text));


--
-- Name: objects Allow update on product-request-photos; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow update on product-request-photos" ON storage.objects FOR UPDATE USING ((bucket_id = 'product-request-photos'::text));


--
-- Name: objects Allow upload for asset invoices; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow upload for asset invoices" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'asset-invoices'::text));


--
-- Name: objects Allow upload for stock documents; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow upload for stock documents" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'stock-documents'::text));


--
-- Name: objects Allow upload on product-request-photos; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Allow upload on product-request-photos" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'product-request-photos'::text));


--
-- Name: objects Anyone can read frontend builds; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Anyone can read frontend builds" ON storage.objects FOR SELECT USING ((bucket_id = 'frontend-builds'::text));


--
-- Name: objects Auth users manage sidebar-animations; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Auth users manage sidebar-animations" ON storage.objects USING ((bucket_id = 'sidebar-animations'::text)) WITH CHECK ((bucket_id = 'sidebar-animations'::text));


--
-- Name: objects Authenticated delete branding-docs; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated delete branding-docs" ON storage.objects FOR DELETE USING ((bucket_id = 'branding-docs'::text));


--
-- Name: objects Authenticated delete from app-icons; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated delete from app-icons" ON storage.objects FOR DELETE TO authenticated USING ((bucket_id = 'app-icons'::text));


--
-- Name: objects Authenticated update app-icons; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated update app-icons" ON storage.objects FOR UPDATE TO authenticated USING ((bucket_id = 'app-icons'::text));


--
-- Name: objects Authenticated update branding-docs; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated update branding-docs" ON storage.objects FOR UPDATE USING ((bucket_id = 'branding-docs'::text)) WITH CHECK ((bucket_id = 'branding-docs'::text));


--
-- Name: objects Authenticated upload branding-docs; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated upload branding-docs" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'branding-docs'::text));


--
-- Name: objects Authenticated upload to app-icons; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated upload to app-icons" ON storage.objects FOR INSERT TO authenticated WITH CHECK ((bucket_id = 'app-icons'::text));


--
-- Name: objects Authenticated users can read receipts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated users can read receipts" ON storage.objects FOR SELECT TO authenticated USING ((bucket_id = 'purchase-voucher-receipts'::text));


--
-- Name: objects Authenticated users can upload frontend builds; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated users can upload frontend builds" ON storage.objects FOR INSERT TO authenticated WITH CHECK ((bucket_id = 'frontend-builds'::text));


--
-- Name: objects Authenticated users can upload receipts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Authenticated users can upload receipts" ON storage.objects FOR INSERT TO authenticated WITH CHECK ((bucket_id = 'purchase-voucher-receipts'::text));


--
-- Name: objects Enable all access to offer-pdfs; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Enable all access to offer-pdfs" ON storage.objects USING ((bucket_id = 'offer-pdfs'::text)) WITH CHECK ((bucket_id = 'offer-pdfs'::text));


--
-- Name: objects Public can view receipts; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public can view receipts" ON storage.objects FOR SELECT USING ((bucket_id = 'purchase-voucher-receipts'::text));


--
-- Name: objects Public read access for app-icons; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public read access for app-icons" ON storage.objects FOR SELECT USING ((bucket_id = 'app-icons'::text));


--
-- Name: objects Public read access for asset invoices; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public read access for asset invoices" ON storage.objects FOR SELECT USING ((bucket_id = 'asset-invoices'::text));


--
-- Name: objects Public read access for stock documents; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public read access for stock documents" ON storage.objects FOR SELECT USING ((bucket_id = 'stock-documents'::text));


--
-- Name: objects Public read branding-docs; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public read branding-docs" ON storage.objects FOR SELECT USING ((bucket_id = 'branding-docs'::text));


--
-- Name: objects Public read sidebar-animations; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public read sidebar-animations" ON storage.objects FOR SELECT USING ((bucket_id = 'sidebar-animations'::text));


--
-- Name: objects Public read whatsapp media; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Public read whatsapp media" ON storage.objects FOR SELECT USING ((bucket_id = 'whatsapp-media'::text));


--
-- Name: objects Service role has full access to files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Service role has full access to files" ON storage.objects USING (((bucket_id = 'offer-pdfs'::text) AND true)) WITH CHECK (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects Service role manage frontend builds; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Service role manage frontend builds" ON storage.objects TO service_role USING ((bucket_id = 'frontend-builds'::text)) WITH CHECK ((bucket_id = 'frontend-builds'::text));


--
-- Name: objects Service upload whatsapp media; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "Service upload whatsapp media" ON storage.objects FOR INSERT WITH CHECK ((bucket_id = 'whatsapp-media'::text));


--
-- Name: objects allow_all_operations for files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "allow_all_operations for files" ON storage.objects USING (((bucket_id = 'offer-pdfs'::text) AND true)) WITH CHECK (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects allow_all_storage; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY allow_all_storage ON storage.objects USING (true) WITH CHECK (true);


--
-- Name: objects allow_delete; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY allow_delete ON storage.objects FOR DELETE USING (true);


--
-- Name: objects allow_delete files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "allow_delete files" ON storage.objects FOR DELETE USING (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects allow_insert; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY allow_insert ON storage.objects FOR INSERT WITH CHECK (true);


--
-- Name: objects allow_select; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY allow_select ON storage.objects FOR SELECT USING (true);


--
-- Name: objects allow_select files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "allow_select files" ON storage.objects FOR SELECT USING (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects allow_update; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY allow_update ON storage.objects FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: objects allow_update files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "allow_update files" ON storage.objects FOR UPDATE USING (((bucket_id = 'offer-pdfs'::text) AND true)) WITH CHECK (((bucket_id = 'offer-pdfs'::text) AND true));


--
-- Name: objects anon_full_access files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "anon_full_access files" ON storage.objects USING (((bucket_id = 'offer-pdfs'::text) AND ((auth.jwt() ->> 'role'::text) = 'anon'::text)));


--
-- Name: objects app_templates_delete; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY app_templates_delete ON storage.objects FOR DELETE TO authenticated, anon USING ((bucket_id = 'app-templates'::text));


--
-- Name: objects app_templates_insert; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY app_templates_insert ON storage.objects FOR INSERT TO authenticated, anon WITH CHECK ((bucket_id = 'app-templates'::text));


--
-- Name: objects app_templates_select; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY app_templates_select ON storage.objects FOR SELECT TO authenticated, anon USING ((bucket_id = 'app-templates'::text));


--
-- Name: objects app_templates_update; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY app_templates_update ON storage.objects FOR UPDATE TO authenticated, anon USING ((bucket_id = 'app-templates'::text));


--
-- Name: objects authenticated_full_access files; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY "authenticated_full_access files" ON storage.objects USING (((bucket_id = 'offer-pdfs'::text) AND (auth.uid() IS NOT NULL)));


--
-- Name: buckets; Type: ROW SECURITY; Schema: storage; Owner: -
--

ALTER TABLE storage.buckets ENABLE ROW LEVEL SECURITY;

--
-- Name: objects helper_apps_storage_delete; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY helper_apps_storage_delete ON storage.objects FOR DELETE TO authenticated, anon USING ((bucket_id = 'helper-apps'::text));


--
-- Name: objects helper_apps_storage_insert; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY helper_apps_storage_insert ON storage.objects FOR INSERT TO authenticated, anon WITH CHECK ((bucket_id = 'helper-apps'::text));


--
-- Name: objects helper_apps_storage_select; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY helper_apps_storage_select ON storage.objects FOR SELECT TO authenticated, anon USING ((bucket_id = 'helper-apps'::text));


--
-- Name: objects helper_apps_storage_update; Type: POLICY; Schema: storage; Owner: -
--

CREATE POLICY helper_apps_storage_update ON storage.objects FOR UPDATE TO authenticated, anon USING ((bucket_id = 'helper-apps'::text)) WITH CHECK ((bucket_id = 'helper-apps'::text));


--
-- Name: objects; Type: ROW SECURITY; Schema: storage; Owner: -
--

ALTER TABLE storage.objects ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

