-- Update customer registration function
-- This migration updates the create_customer_registration function with improved error handling

-- Drop existing function if it exists to avoid overloading conflicts
DROP FUNCTION IF EXISTS public.create_customer_registration(text, text);
DROP FUNCTION IF EXISTS public.create_customer_registration(text, text, text);

-- Add name column to customers table if it doesn't exist
ALTER TABLE public.customers ADD COLUMN IF NOT EXISTS name text;

-- Remove user_id column since we're not linking to users table for customer registrations
ALTER TABLE public.customers DROP COLUMN IF EXISTS user_id;

CREATE OR REPLACE FUNCTION create_customer_registration(
    p_name text,
    p_whatsapp_number text
)
RETURNS json
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    v_customer_id uuid;
    v_notification_id uuid;
    result json;
BEGIN
    -- Validate inputs
    IF p_name IS NULL OR trim(p_name) = '' THEN
        RAISE EXCEPTION 'Customer name is required';
    END IF;
    
    IF p_whatsapp_number IS NULL OR trim(p_whatsapp_number) = '' THEN
        RAISE EXCEPTION 'Mobile number is required';
    END IF;
    
    -- Check if mobile number already exists
    IF EXISTS(SELECT 1 FROM public.customers WHERE whatsapp_number = p_whatsapp_number) THEN
        RAISE EXCEPTION 'Mobile number already registered';
    END IF;
    
    -- Create customer record only (no user table involvement)
    RAISE NOTICE 'Creating customer record for: %', trim(p_name);
    
    INSERT INTO public.customers (
        name,
        whatsapp_number,
        registration_status
    ) VALUES (
        trim(p_name),
        trim(p_whatsapp_number),
        'pending'
    ) RETURNING id INTO v_customer_id;
    
    RAISE NOTICE 'Customer created with ID: %', v_customer_id;
    
    -- Create notification for admins using proper notification system
    RAISE NOTICE 'Creating notification for customer registration';
    
    INSERT INTO public.notifications (
        title,
        message,
        type,
        priority,
        target_type,
        created_by,
        created_by_name,
        status,
        metadata
    ) VALUES (
        'New Customer Registration',
        'New customer registration request from ' || trim(p_name),
        'info',
        'medium',
        'all_admins',
        'system',
        'System',
        'published',
        json_build_object(
            'customer_id', v_customer_id,
            'customer_name', trim(p_name),
            'whatsapp_number', trim(p_whatsapp_number),
            'registration_type', 'customer_registration'
        )
    ) RETURNING id INTO v_notification_id;
    
    RAISE NOTICE 'Notification created with ID: %', v_notification_id;
    
    -- Create notification recipients for all admin users
    RAISE NOTICE 'Looking for admin users to send notifications to...';
    
    -- Log total users first
    RAISE NOTICE 'Total users in system: %', (SELECT COUNT(*) FROM public.users);
    
    -- Find admin users by checking multiple criteria without enum constraints
    RAISE NOTICE 'Looking for users with admin-like usernames...';
    
    INSERT INTO public.notification_recipients (notification_id, user_id, role)
    SELECT 
        v_notification_id, 
        u.id, 
        'admin'
    FROM public.users u 
    WHERE u.username LIKE '%admin%' 
       OR u.username = 'admin'
       OR u.username = 'master'
       OR u.username = 'yousafali'  -- Add specific known admin usernames
    ON CONFLICT DO NOTHING;
    
    -- Log how many recipients were actually created
    RAISE NOTICE 'Notification recipients created: %', (
        SELECT COUNT(*) 
        FROM public.notification_recipients 
        WHERE notification_id = v_notification_id
    );
    
    -- Log specific users who received the notification
    RAISE NOTICE 'Users who received notification: %', (
        SELECT string_agg(u.username, ', ')
        FROM public.notification_recipients nr
        JOIN public.users u ON nr.user_id = u.id
        WHERE nr.notification_id = v_notification_id
    );
    
    -- Return result
    result := json_build_object(
        'success', true,
        'customer_id', v_customer_id,
        'message', 'Registration request submitted successfully'
    );
    
    RETURN result;
    
EXCEPTION
    WHEN OTHERS THEN
        RETURN json_build_object(
            'success', false,
            'error', SQLERRM
        );
END;
$$;
